@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600|Exo:100,200,300,400,500,600&display=swap');

body{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #39393A; 
} 

html {
  scroll-behavior: smooth;
}
/* nav bar */

nav {
  height: 126px;
  width: 100%;
  background-color: #aa96b7;
  color: black;
}

.navbar-nav .nav-link {
    color: #cac9ae;
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 2;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    background-color: #aa96b7;
    color: #cac9ae;
    width: fit-content;
}

.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #cac9ae;
 
}

.fa-bars {
  color: #cac9ae;
}
.dropdown {
  list-style: none;
}

.dropdown li {
  padding-top: 0.2rem;
}

.dropdown li a {
  color: black;
  text-decoration: none;
  padding-top: 15px;
}

ul li a:hover {

  padding-top: 0px;
}



  .logo {
    height: 120px;
    width: 120px;
}

/* pages */

/* index.html */

#welcome {
  background-color: #edf2ef;
  color: #39393A;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

#welcome p{
    padding: 2rem;
}

#pt {
  background-color: #cac9ae;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #39393A;
}
.blockquote-footer{
background-color: #edf2ef;
}
.ptOptions{
    padding: 1rem;
}

.ptOptions a:hover{
    color: #BF4E30;
}

#podcast {
     background-color: #edf2ef;
     color: #39393A;
  padding-top: 3rem;
  padding-bottom: 3rem;
 
}

.tried {
  height: 400px;

}


#editing,
#mentor,
#guest,
#podBtn {
  display: none;
}

/* about.html */

#about {
  background-color: #edf2ef;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #39393A;
}

#about .a {
  color: black;
}

#about a:hover {
color: #aa96b7;
text-decoration: none;
}
#about h1{
    padding: 1rem;
}

#about .terms {
  color: black;
  background-color: transparent;
}
.mayaImg {
  height: 450px;
}

/* outdoor.html */


#outdoorTraining {
     background-color: #edf2ef;
     color: #39393A;
}

.outdoor {

  width: 100%;
  margin: auto;
}
/* virtual.html */

#virtualTraining {
     background-color: #edf2ef;
     color: #39393A;
}

#virtualTraining a{
     
     color: #39393A;
}
#virtualTraining a:hover{
    
     color: #4A4930;
}

.remoteContainer{
padding: 3rem 0rem 0rem 2rem;
}
.remoteExercise {
  margin: auto;
}

.virtual {
  
  width: 100%;
  margin: auto;
}


/* inHome.html */

#inHome {
     background-color: #edf2ef;
     color: #39393A;
}

.ptForm{
    padding: 1rem 0rem 1rem 1rem;
}

.ptRates{
    padding: 1rem 0.5rem .8rem 0rem;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-container p {
  padding: 5rem 0rem 1rem 0rem;
}

.house {

  width: 100%;
  margin: auto;
}

/* journey.html */
#podcastingJourney {

    background-color: #edf2ef;
     color: #39393A;
}

#podcastingJourney a{
    color: #39393A;
}

#podcastingJourney a:hover{
    color: #3A4E48;
   
}
#podcastingJourney img{
width: 600px;
}


/* faq.html */
#faq {
  background-color: #edf2ef;
  color: black;
  padding: 3rem 3rem 3rem 3rem;
}

#faq p {
  padding: 1rem 0 1rem 0;
}



/* heading and paragraph classes */
p{
    margin-bottom: 1rem;
    margin-top: 1rem;
   
}
.title {
  text-align: center;
    font-family: "Exo",sans-serif;
    font-size: 32px;
  font-weight: 400;
  padding-top: 1rem;
}

.special-head {
  
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
    font-family: "Exo",sans-serif;
  font-weight: 100;
}

.heading {
    font-family: "Exo",sans-serif;
     font-weight: 500;  
    font-size: 28px;
    padding-top: 2rem;
}
.uppercase {
text-transform: uppercase;
font-family: "Exo",sans-serif;
font-size: 20px;
font-weight: 200;
}
.paragraph {
  font-family: "Roboto",sans-serif;
  font-size: 25px;
  font-weight: 300;
  padding: 1rem 1rem;
}

.special-para {
  font-family: "Roboto",sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}

.revealText {
 font-family: "Roboto",sans-serif;
  font-size: 25px;
  font-weight: 400;
  display: none;
  margin: 0;
  text-align: left;
}
.blockquote{
    padding: 1rem ;
    font-family: "Roboto",sans-serif;
}
.blockquote-footer {
  color:#39393A;
}

h3{
    padding-top: 1rem;
    font-family: "Roboto",sans-serif;
}

hr{
    border: none;
}



/* buttons */

.terms{
    color: #BF4E30;
    background-color: #3A4E48;
    padding: .5rem 1rem .5rem 1rem;

}

.terms:hover{
  color: #fafafa;  
}

#reviewBtn {
  margin-top: 10px;
  margin-left: 5px;
  background-color: #3A4E48;
  color: #BF4E30;
  border: none;
}
#reviewBtn:hover{
    color: #fafafa;
}

/* features */

#map {
  position: relative;
  height: 300px;
  padding: 2rem 0rem 1rem 0rem;
}


a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #fafafa;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  background-color: #BF4E30;
    color: #fafafa;
}

.modal-dialog , .modal-content , .modal-header{
    background-color: #BF4E30;
    color: #fafafa; 
}

.ptRates{
  padding:3rem .5rem .8rem 2rem;
}

.ptRates .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #39393A;
}

.table th {
  text-align: inherit;
  border: 2px black solid;
  border-radius: 0.5rem;
}

.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border: 2px solid black;
  border-radius: 0.5rem;
}


.table thead th {
  vertical-align: bottom;
  border: 2px solid black;
 
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container  iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checked {
  color: #BF4E30;
}

.isClicked{
  color: #BF4E30;  
}
.reviews {
  font-size: 40px;
  cursor: pointer;
}

#comment {
  margin-top: 5px;
  font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size: 16px;
}

#reviewText {
  margin-top: 5px;
  text-transform: uppercase;
  color: #BF4E30;
  font-size: 20px;
}

#reviewBox {
  margin-top: 5px;
}


#searchBar {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#topicList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#buzzTopics li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#buzzTopics li a:hover:not(.header) {
  background-color: #eee;
}

.fa-chevron-up{
    color: #39393A;
}

.toTop {
  background: #cac9ae;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#39393A;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.toTop.active {
  bottom:32px;
  opacity:1;
  pointer-events: auto;
  text-decoration: none;
}

/* footer */
footer {
   background-color: #aa96b7;
  color: #39393A;
    padding: 1rem;
}


footer a {
   color: #39393A;
  cursor: pointer;
}

footer a:hover {
  color:#cac9ae;
  background-color: transparent;
}

footer .btn{
    padding-bottom: 1rem;
      text-align: center;
    width:100%;
    padding-top: 2rem;
}

footer .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #cac9ae;
}

.socials{
    text-align: center;
    width:100%;
    height:70px;
padding-top: 2rem;
padding-bottom: 1rem;
}

