@import url('https://fonts.googleapis.com/css2?family=Lato:100,200,300,400,500,600|Montserrat:wght@300&display=swap');


/* header */
.fa-bars{
    color: #612100;
}


.navbar-brand {
    position: relative;
   
    opacity: 0.8;
    height: 100px;
   
    border-radius: 1rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;}

.sticky-top{
    height: 0;
}

#Navbar{
    background-color: transparent;
    text-align: center;
    text-decoration-color: #612100;
    width: 100%;
    position: fixed;
}


#navbarNavDropdown a{
    color: #612100;
    text-decoration: none;
    background: #F7B32B;
   opacity: 0.8;
   border-radius: 1rem;
}

#navbarNavDropdown a:hover{
     color: #fafafa;
}

.nav-link a{
    padding: 0 5px 0 5px;
}

.nav-item{
    font-family: "Exo",sans-serif;
    font-size:18px;
    text-transform:uppercase;
    font-weight: 400;
}

#welcome{
    background-color: #53621c;
    color: #fafafa;
    padding-top: 20rem;
}

#pt{
    background-color: #e1e5f2;
    padding-top: 10rem;
}

#podcast{
    background-color: #bfdbf7;
    padding-top: 10rem;
}

#contact{
    background-color: #1f7a8c;
    padding-top: 10rem;
}

/* special fonts and paragraphs */

.title{
font-family:'lato';
font-size: 30px;
font-weight: 400;
text-align: center;
}

.heading{
 font-family:'lato';
font-size: 28px;
font-weight: 350;
 
}

.paragraph{
 font-family:'montserrat';
font-size: 25px;
font-weight: 300;
   
}

.revealText{
 font-family:'montserrat';
font-size: 25px;
font-weight: 300;
   

}

/* features */

#map{
position: relative;
height: 300px;
}